chatterbot==1.0.5
chatterbot_corpus==1.2.0
wikipedia-api==0.6.0
forex-python==1.8
flask==3.0.3
spacy==2.1.8
preshed==2.0.1
thinc==7.0.8
blis==0.2.4



spacy==2.1.8
preshed==2.0.1


chatterbot
chatterbot_corpus
wikipedia-api
forex-python
flask
